body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* PART 1 DESIGN START */

h1{
    font-size: 40px;
}

.color-blue{
    color: dodgerblue;
}


.focus{
    display: flex;
}
.focus-headings{
    padding: 10px;
}

.focus-half-width{
    width: 50%;
    padding-left: 70px ;
    
}

.focus-half-width img {
    width: 50%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(dodgerblue,blue);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.focus-headings{
    border-radius: 5px;
    border-left: 5px solid dodgerblue;
}

/* PART 1 DESIGN END */


/* PART 2 DESIGN START  */

.mission-heading{
    text-align: center;
}

.mission-heading-year{
    color: dodgerblue;
}

.mission-container{
    display: flex;
}

.mission-card{
    background-color: #4F9DA6;
}
.vision-card{
    background-color: #FF5959;
}
.goals-card{
    background-color: #FFF4D6;
}












/* PART 2 DESIGN END  */


/* PART 3 DESIGN START  */

.develop-limits{
    display: flex;
    margin-bottom: 20px;
}

.develop-limits-half{
    width: 50%;
    padding-left: 70px;
}

.develop-limits-half img{
    width: 50%;
}

/* PART 3 DESIGN END  */


/* PART 4 DESIGN START  */

.know-community{
    display: flex;
    margin-bottom: 20px;
}
.know-community-half{
    width: 50%;
    padding-left: 70px;
}
.know-community-half img{
    width: 50%;
}


/* PART 4 DESIGN END  */

/* FOOTER PART START  */
.footer{
    background-color: black;
    color: white;
    text-align: center;
}

.footer-year{
    color: #ff5959;
}

.footer-heading{
    font-family: 'Dancing Script';
}

.footer-text{
    padding: 5px;
}


/* FOOTER PART END  */